*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:focus{
    outline: none;
} 
body{
    font-family: 'Playfair Display', serif;
}
/* Formulario */
.form-contactos{
    width: 1050px;
    height: 530px;
    margin: 50px auto;
    display: flex;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 2);
}
/* informacion de contacto */
.contacto-informacion{
    width: 38%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url(../img/contacto.jpg);
    background-size: cover;
    border-radius: 10px;
    background-position: center center;
}
.info-titulo,
.info-contactos{
    color: #fff;
}
.info-titulo{
    margin-bottom: 60px;
}
.info-titulo span{
    font-size: 150px;
    display: block;
    text-align: center;
    margin-bottom: 15px;
}
.info-contactos h2{
    font-size: 35px;
    text-align: center;
}
.info-contactos p{
    display: flex;
    align-items: center;

    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}
.info-contactos p:nth-child(1) span{
    font-size: 20px;
    margin-right: 10px;

}
.info-contactos p:nth-child(2) span{
    font-size: 25px;
    margin-right: 10px;
}
/* Formulario de contacto */
form.contact{
    width: 62%;
    padding:30px 40px ;
}
form.contact h2{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: #303030;
    margin-bottom: 30px;
}
form.contact .user-info{
    display: flex;
    flex-direction: column;
}
form.contact label{
    font-weight: 600;
}
form.contact input,
form.contact textarea{
    width: 100%;
    padding: 8px 0px 5px;
    margin-bottom: 20px;

    border: none;
    border-bottom: 2px solid #d1d1d1;

    font-family: 'Open sans';
    color: #5a5a5a;
    font-size: 14px;
    font-weight: 400;
}
/* Mensaje */
form.contact textarea{
    max-width: 100%;
    min-width: 100%;
    max-height: 90px;
    min-height: 90px;
}
form.contact input[type="submit"]{
    width: 185px;
    background: #4091EC;
    padding: 10px;
    border: none;
    border-radius: 25px;
    color: #000;
    align-self: flex-end;
    cursor: pointer;
    margin-top: -55px;
}
form.contact input[type="reset"]{
    width: 185px;
    background: #4091EC;
    padding: 10px;
    border: none;
    border-radius: 25px;
    color: #000;
    align-self: flex-start;
    cursor: pointer;
    margin-top: 10px;
} 
form.contact input[type="reset"]:hover{
    background: #3371B6;
}
form.contact input[type="submit"]:hover{
    background: #3371B6;
}